ATLAN_BASE_URL=https://domain.atlan.com
ATLAN_API_KEY=your_api_key
ATLAN_AGENT_ID=your_agent_id
MCP_TRANSPORT="stdio"  # "stdio" , "sse" or "streamable-http"
MCP_HOST=0.0.0.0
MCP_PORT=8000
MCP_PATH="/"
