# Dependencies
node_modules

# Environment variables
.env.local
.env.*.local

# Build output
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
